* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .carousel-container {
    overflow: hidden;
    width: 95%;
    height: 50vh;
    object-fit: cover;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    margin-bottom: 10%;
    z-index: 0;
  }
  .carousel-container span a{
    color : white;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
    height: 100vh;
  }
  .mySlides img {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .prev,
  .next {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    /* backdrop-filter: blur(6px); */
    font-size: 20px;
    padding: 10px 0 0 0;
    position: absolute;
    top: 20%;
    margin-left: 2%;
    bottom: 60px;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .text > h5 {
    font-size: 1.6rem;
    width: 80%;
  }
  
  @media screen and (max-width: 687px) {
    .text {
      width: 60%;
    }
    .text > h5 {
      font-size: 1rem;
      width: 60%;
      margin-bottom: 200px;
    }
    /* .suivant {
    } */
  }
  .text .suivant {
    border: 1px solid #000;
    margin: 60px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #092b3a;
    background-size: 400%;
    color: #fff;
    border: none;
    border: 1px solid #e5b406;
  }
  .suivant:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
    color: white;
  }
  
  .suivant::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(to right, #e5b406, #092b3a);
    transition: all 0.475s;
  }
  
  /* Number text */
  .number {
    color: #f2f2f2;
    font-size: 16px;
    backdrop-filter: blur(6px);
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .dots-container {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: #092b3a;;
  }
  
  /* transition animation */
  .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 4s;
    animation-name: animate;
    animation-duration: 4s;
  }
  
  /* animation */
  .partenaires{
    margin-top: 25%;
    padding: 2rem;
  text-align: center;
  }
  .partenaires h1{
    font-size: 3rem;
  }
  marquee img{
    width: 10%;
    margin-top: 5%;
    margin-right: 5%;
  }
  .newsLetter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10px;
  }
  .newsLetter h1{
    font-size: 4rem;
    margin-right: 15%;
    margin-top: 0%;
    color: #282936;
  }
  .text_news{
    width: 40%;
  }
  .newsLetter .text_news p{
    margin-top: 5%;
    font-size: 1.6rem;
    margin-bottom: 3%;
    color: #282936;
  }
  .text_news input{
    width: 80%;
    height: 5vh;
    padding-left: 2%;
    margin-right: 2%;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid black;
  }
  .text_news button{
    height: 5vh;
    width: 15%;
    padding: 1%;
    background-color: #e5b406;
    border-radius: 5px;
    border: #e5b406;
    font-weight: bold;
    font-size: 1rem;
    border: none;
  }
  /* @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  } */
  
  /* carousel End */
  
  /*section2*/
  .main-acc {
    width: 100%;
    height: auto;
  }
  .carte-acc {
    width: 100%;
    height: auto;
    display: flex;
    padding: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    padding: 20px;
  }
  .compt-client a {
    color: #000;
  }
  
  .inff-serv {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 50px;
  }
  .inff-serv h2 {
    font-size: 1.4rem;
  }
  .inff-serv .barre {
    width: 15vw;
    height: auto;
    padding: 5px;
    margin: 4px auto;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #092b3a;
  }
  .aid-span .aide {
    background-color: darkslategray;
    height: 10px;
    width: 100%;
    border-radius: 100px;
  }
  .logo {
    color: #eed620;
  }
  .aid-span a {
    color: black;
    font-size: 20px;
  }
  .aid-span.aide {
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
  }
  
  .form-acc {
    height: auto;
    width: 350px;
    background: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
   box-shadow: -9px 9px 18px #5a5a5a,
                9px -9px 18px #ffffff;
  }
  .form-acc h4 {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    /* margin-top: 8%;
    margin-left: 2%; */
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  .form-acc img {
    height: 200px;
    width: 100%;
    opacity: 1;
  }
  .form-acc p {
    padding: 20px;
    font-size: 1.2rem;
  }
  /* moove plus */
  .learn-more {
    position: relative;
    display: block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin: 10px auto;
    margin-top: 5%;
  }
  
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #092B3A;
    border-radius: 1.625rem;
    border: 2px solid #e5b406;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text {
    color: #fff;
  }
  .dec-puce {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    /* margin-bottom: 50px; */
    position: relative;
    margin-top: 5%;
  }
  
  .bloc-texte {
    position: absolute;
    height: auto;
    width: 400px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  
  .bloc-texte p {
    text-align: center;
    font-size: 1.6rem;
    color: rgb(3, 2, 2);
    word-wrap: break-word;
    /* position: absolute; */
  }
  @media screen and (max-width: 600px) {
    .bloc-texte {
      width: auto;
      padding: 20px;
    }
    .bloc-texte p {
      font-size: 1.2rem;
    }
  }
  .card-el {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
  }
  
  .form-puce {
    height: 500px;
    width: 600px;
    /* background-color: aquamarine; */
  }
  .form-puce img {
    width: 100%;
    height: 100%;
  }
  .bgran-security {
    height: auto;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 20%;
  }
  .op-security {
    border: 2px solid #000;
    height: 40vh;
    padding: auto;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .op-security img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    vertical-align: middle;
  }
  
  .op-security h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    position: absolute;
  }
  .icons-op {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 0px auto;
    flex-wrap: wrap;
    padding: auto;
  }
  .icon-op {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .icon-op h4 {
    padding-top: -10%;
    font-size: 1.3rem;
  }
  /* .icon-op img {
    margin-top: 30%;
    width: 124px;
    border-radius: 100%;
    border: 4px solid #eed620;
  } */
  