.profil_user .edit_icon {
    border-radius: 50%;
    float: right;
    margin-top: 55px;
    padding: .7%;
    font-size: 1.2rem;
    background-color: white;
}
.profil_user .edit_icon i{
    font-size: .7rem;
}
.profil_user{
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 25%;
}
.profil_user h1{
    font-size: 1.5rem;
    margin-top: 3%;
}
.logOut{
    width: 60%;
    height: 8vh;
    border-radius: 10px;
    padding: 1.8%;
    background-color: #223344;
    margin-bottom: 1%;
}
.logOut i{
    font-size: 1.4rem;
    color: white;
}
.icon_user{
    width: 60%;
    background-color: #223344;
    padding: 2%;
    border-radius: 10px;
}
.icon_user i{
    color: gray;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5%;
}
.icon_user p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: white;
}
.informations_compte .compte{
    width: 60%;
    height: 8vh;
    border-radius: 10px;
    padding: 1.8%;
    background-color: #223344;
    margin-bottom: 1%;
}
.information_icon i{
    font-size: .5rem;
}
.compte p, .personnelle p ,.logOut p{
    font-size: 1.2rem;
    color: white;
}
.compte , .personnelle{
    display: flex;
    justify-content: space-between;
}
.informations_personnelle .personnelle{
    width: 60%;
    height: 8vh;
    border-radius: 10px;
    padding: 1.8%;
    background-color: #223344;
    margin-bottom: 1%;
}

/* modal deconnexion */
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
  }
  
  .success-button-main:hover {
    background-color: #D1FAE5;
  }
  
  .success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
  }